body{
  font-family: "Montserrat";
}

#title{
  background: #ff4c68;

}


.container-fluid{
  padding: 3% 15%;
}

h1{
  font-family: 'Montserrat',sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 400;
}

h3{
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
}

p{
  color: #ff4c68;
  font-weight: bolder;
}
/* Navabar */

.name-of-founder{
  font-size: 1rem;
  position: relative;
  top: 40px;
  right: 125px;
  font-family: 'Ubuntu',sans-serif;

}

.navbar{
  padding-bottom: 2.5rem;
}


.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bolder;
}

.nav-item{
  padding: 0 18px;
}

/* Title img */

.title-img{
  width: 50%;
  transform: rotate(25deg);

  position: absolute;
  right: 30%;
}

/* features section */

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.features-box{
  text-align: center;
}

.icon{
  color : #ff4c68;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ef8172
}

/* TestimonialsSection */

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-image: linear-gradient(to right top, #ff4c68, #ff5771, #ff627a, #ff6c83, #ff758b);
}

.testimonial-text{
  font-weight: bolder;
}

.testimonial-img{
  width: 10%;
  margin: 20px;
  border-radius: 100%
}

/* <!-- Press --> */

#press{
  text-align: center;
  padding: 3%

}

/* Pricing Section */

#pricing{
  padding : 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}


/* Call to Action */

#cta{
  text-align: center;
  color: #fff;
  background: #ff4c68;

  padding: 7% 15%;

}

.cta-heading{
  padding: 7% 15%;
}

/* Footer Section */

#footer{
  padding: 7% 15%;

  text-align: center;
}



/* Media Query */

@media (max-width: 1028px) {

#title{
  text-align: center;
}
  .title-img{
    position: static;
    transform: rotate(0);
  }
}
